{% extends 'header.html'%}
{% block content %}

{%load static %}
<head>
    <title>Found details</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add custom styles for the background image */
        body {
            background-image: url('pics/Userview.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-8">
                <!-- Add a card for the form with Bootstrap styling -->
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center">Found details</h1>
                        {% comment %} <form action="" method="post"> {% endcomment %}
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><label for="id_Name">Name</label></td>
                                        <td>{{ form1.Name }}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_Phone">Phone</label></td>
                                        <td>{{ form1.Phone }}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_District">District</label></td>
                                        <td>{{ form1.District }}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_City">City</label></td>
                                        <td>{{ form1.City }}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_Street"> Street</label></td>
                                        <td>{{ form1.Street }}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_Other_details">Other_details</label></td>
                                        <td>{{ form1.Other_details }}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_Photo">Photo</label></td>
                                        <td>{{ form1.Photo}}</td>
                                    </tr>
                                    <tr>
                                        <td><label for="id_ Found_date"> Found_date</label></td>
                                        <td>{{ form1.Found_date }}</td>
                                    </tr>
                                    
                                

                                    {% comment %} <tr>
                                        <td><label for="proof">Proof</label></td>
                                        <td>{{ form1.proof }}</td>
                                    </tr> {% endcomment %}
                                    <!-- Add more fields here following the same structure -->
                                </tbody>
                            </table>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

{%endblock%}
