{% extends 'police_header.html' %}
{% block content %}

{% load static %}

<head>
    <title>Accident Data View</title>
    <!-- Include Bootstrap CSS (adjust the URL to the Bootstrap version you are using) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Include DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <!-- Your existing style and script -->
    <!-- ... -->
</head>
<body>
    <div class="container table-container">
        <h1 class="text-center">Accident Data View</h1>
        <table id="enquiriesTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Accident Details</th>
                    <th>Location</th>
                    <th>Image</th>
                    <th>Video</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for view in view %}
                <tr>
                    <td>{{ view.Name }}</td>
                    <td>{{ view.Contact_Number }}</td>
                    <td>{{ view.Accident_Details}}</td>
                    <td>{{ view.Location}}</td>
                    {% comment %} <td>{{ view.Image }}</td> {% endcomment %}
                    
                    <td>
                        {% if view.Image %}
                            <div>
                                <img src="/media/{{ view.Image }}" class="zoom" width="50px" height="50px" data-toggle="modal" data-target="#photoModal">
                            </div>
                        {% else %}
                            <span>No photo uploaded (Optional)</span>
                        {% endif %}
                    </td>
                    
                    <!-- Modal -->
                    <div class="modal fade" id="photoModal" tabindex="-1" aria-labelledby="photoModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-body">
                            <img src="" id="modalPhoto" class="img-fluid">
                          </div>
                        </div>
                      </div>
                    </div>

                    <td>{{ view.Video }}</td>
                    <td><a href="../editaccident/{{ view.id}}" class="btn btn-success">Edit</a></td>
                    <td><a href="../accidentdelete/{{ view.id}}" class="btn btn-danger">Delete</a></td>
                </tr> 
                    {% comment %} <td><a href="../editusermissingadd/{{view.Age}}" class='btn btn-success'>Edit</a></td>
                    <td><a href="../editusermissingadd/{{view.id}}" class='btn btn-delete'>Delete</a></td>
                 {% endcomment %}
                 {% endfor %}
                </tbody>
            </table>
        </div>
    
        <!-- Include Bootstrap JS (optional, only if you need Bootstrap JavaScript functionality) -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
        <!-- Initialize DataTables -->
        <script>
            $(document).ready(function() {
                $('#enquiriesTable').DataTable();
            });
        </script>
        <script>
            $('#photoModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var photoSrc = button.attr('src'); // Extract photo source from clicked image
                var modal = $(this);
                modal.find('#modalPhoto').attr('src', photoSrc); // Set the photo source in the modal
            });
        </script>
    </body>
 {%endblock%}