<!DOCTYPE html>
<html>

<head>
    <title>Public Enquiry</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Add custom styles for the background image */
        body {
            background-image: url('pics/Userview.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <!-- Add a card for the login form with Bootstrap styling -->
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="text-center">Enquiry</h1>
                        <center>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form1.as_p }}
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </center>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Include Bootstrap JS and jQuery (optional) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
