{% extends 'user_header.html'%}
{% block content %}

{%load static %}
<head>
    <title>Station Details</title>
    <!-- Include Bootstrap CSS (adjust the URL to the Bootstrap version you are using) -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Include DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Include DataTables JS -->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>

    <!-- Your existing style and script -->
    <!-- ... -->
</head>
<body>
    <div class="container table-container">
        <h1 class="text-center">Station Data </h1>
        <table id="enquiriesTable" class="table table-bordered">
            <thead>
                <tr>
                    <th>Station Id</th>
                    <th>Address line 1</th>
                    <th>Address line 2</th>
                    <th>District</th>
                    <th>City</th>
                    <th>Pin</th>
                    <th>Contact number</th>
                    <th>Email</th>
                    <th>Complaint</th>
                </tr>
            </thead>
            <tbody>
                {% for view in view %}
                <tr>
                    <td>{{ view.Station_id }}</td>
                    <td>{{ view.Address_line1 }}</td>
                    <td>{{ view.Address_line2 }}</td>
                    <td>{{ view.District }}</td>
                    <td>{{ view.City }}</td>
                    <td>{{ view.Pin }}</td>
                    <td>{{ view.Contact_number }}</td>
                    <td>{{ view.Email }}</td>
                    <td><a href="../complaintadd/{{ view.Station_id }}" class="btn btn-warning">Complaints</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Include Bootstrap JS (optional, only if you need Bootstrap JavaScript functionality) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Initialize DataTables -->
    <script>
        $(document).ready(function() {
            $('#enquiriesTable').DataTable();
        });
    </script>
</body>
{%endblock%}
